.messages{
    /*position: relative;*/
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
}

.grouped{
    display: flex;
    flex-direction: column;
    gap: 10px
}
