.message {
    display: flex;
    gap: 10px;
    align-items: flex-end;
}

.myMessage {
    justify-content: flex-end;
}

.messageImg {
    background-color: var(--green);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover
}

.text {
    white-space: pre-wrap;
    max-width: 760px;
    position: relative;
    background-color: var(--white);
    padding: 10px;
    border-radius: 8px 8px 8px 0;
    color: var(--gray);
    word-break: break-all;
}

.text::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    display: block;
    height: 0;
    width: 0;
    border: 6px solid white;
    border-right-color: transparent;
    border-bottom-color: transparent;
}

.time {
    color: var(--light-gray);
    padding-left: 20px;
}

.right {
    display: flex;
    flex-direction: column;
    gap: 3px
}

.myText {
    white-space: pre-wrap;
    margin-left: auto;
    max-width: 760px;
    position: relative;
    background-color: var(--main);
    padding: 10px;
    border-radius: 8px 8px 0 8px;
    color: var(--gray);
    word-break: break-all;
}

.myText::before {
    content: '';
    position: absolute;
    top: 100%;
    right: 0;
    display: block;
    height: 0;
    width: 0;
    border: 6px solid var(--main);
    border-left-color: transparent;
    border-bottom-color: transparent;
}

.myTime {
    color: var(--light-gray);
    text-align: right;
    padding-right: 20px;
}

.messageContentImage {
    max-width: 100%;
    max-height: 350px;
    object-fit: cover;
    object-position: center;
}