.messageInput{
    position: relative;
    display: flex;
    background-color: var(--white);
    padding: 10px;
    gap: 10px;
    align-items: center;
}


.textarea{
    border: 0;
    width: 100%;
    font-size: var(--font-size-m);
    border-radius: 15px;
    padding: 5px 10px 5px 0;
    resize: none;
    line-height: 1.2;
    max-height: 300px;
    font-family: "Roboto", sans-serif;
}

.textarea:focus{
    outline: none;
}

.svg{
    height: 100%;
    width: 100%;
    object-fit: contain;
    color: var(--light-gray);
}

.button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    transition: opacity 0.15s ease-in-out;
    height: 50px;
    width: 45px;
}

.button:hover {
    opacity: 0.8;
}

.emojiPicker {
    position: absolute;
    bottom: 100%;
    right: 0;
}