.messageInput{
    display: flex;
    background-color: var(--white);
    padding: 10px;
    gap: 10px;
    align-items: flex-end;
}


.textarea{
    border: 0;
    width: 100%;
    font-size: var(--simple-text);
    border-radius: 15px;
    padding: 5px 10px;
    resize: none;
    line-height: 1.2;
    max-height: 300px;
}

.textarea:focus{
    outline: none;
}

.svg{
    height: 100%;
    width: 100%;
    object-fit: contain;
    color: var(--light-gray);
}

.button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    transition: opacity 0.15s ease-in-out;
    height: 40px;
}

.button:hover {
    opacity: 0.8;
}