
.chat {
    background-color: var(--main);
    display: flex;
    gap: 10px;
    padding: 10px 10px 10px 20px;
    height: 65px;
}

.avatar {
    flex-shrink: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.textInfo {
    display: flex;
    flex-direction: column
}

.name {
    overflow: hidden;
    font-size: 19px;
    font-weight: 500;
}

.lastMessage {
    -webkit-line-clamp: 2;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    font-size: 13px;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}