
.chat {
    background-color: var(--white);
    display: flex;
    gap: 10px;
    padding: 10px 10px 10px 20px;
    height: 65px;
    position: relative;
    width: 100%;
}

.back{
    display: none;
}

@media screen and (max-width: 650px){
    .mobileBack{
        display: block;
    }
}

.avatar {
    flex-shrink: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;

}

.textInfo {
    display: flex;
    flex-direction: column;

}

.name {
    overflow: hidden;
    font-size: 19px;
    font-weight: 500;
}

.lastMessage {
    -webkit-line-clamp: 2;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    font-size: 13px;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.searchMessages {
    background-color: var(--white);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: auto;
    display: flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
    justify-content: center;
}

.search {
    padding: 5px 8px;
    background-color: var(--light-gray);
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0 15px;
    flex-grow: 1;
}

.input {
    border: none;
    height: 30px;
    background: none;
    width: 100%;
}

.input:focus {
    outline: none;
}

.foundMessages {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    background-color: var(--light-gray);
    gap: 5px;
    max-height: 500px;
}

.time {
    text-align: center;
    font-size: var(--font-size-xs);
}

.messageValue {
    font-size: var(--font-size-s);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.metaInf {
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: calc(100% - 40px);
}

.message {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.avatarAndMeta {
    display: flex;
    gap: 5px;
    width: calc(100% - 40px - 30px);
}